@media (min-width: 1024px) {
    .logo+* {
        display: inline !important;
    }

    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: inline-block !important;
    }
}

.hide-mobile {
    display: none;
}

.world-icons [data-tooltip][data-placement=shifted] {
    --pico-tooltip-shift: -50%;
}

.world-icons [data-tooltip][data-placement=shifted-long] {
    --pico-tooltip-shift: calc(-100% + 1.5rem);
}

@media (hover: hover) and (pointer:fine) {

    .world-icons [data-tooltip]:focus::before,
    .world-icons [data-tooltip]:hover::before {
        transform: translate(var(--pico-tooltip-shift), 0);
    }
}

.world-icons [data-tooltip]::before {
    transform: var(--pico-tooltip-slide-to);
    --pico-tooltip-slide-to: translate(var(--pico-tooltip-shift), -.25rem);
}

#table-global td {
    text-align: right;
}

details.dropdown summary {
    display: grid;
    grid-template-columns: 1fr auto;
    transform: translateY(.125rem);
}

details.dropdown summary::before {
    width: auto !important;
}

details.dropdown summary+ul {
    left: initial;
    right: 0;
}

dialog {
    animation-duration: 400ms;
}

span:has(> nav) {
    position: sticky;
    top: 0;
    z-index: 2;
    display: block;
    background-color: color-mix(in srgb, var(--pico-background-color) 60%, transparent);
    backdrop-filter: blur(1rem);
    border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
}

hgroup {
    text-align: center;
}

span:has(> .status),
.world-body {
    border-bottom: none !important;
}

span:has(> .status)::before {
    --pico-font-weight: 400;
}

.status::after {
    content: "";
    display: block;
    width: 1.6em;
    height: 1.6em;
    background-position: center center;
}

.status-online>span::after {
    background-image: url("/assets/status-online2.svg");
}

.status-issues>span::after {
    background-image: url("/assets/status-partial2.svg");
}

.status-offline>span::after {
    background-image: url("/assets/status-offline2.svg");
}

.status-create>span::after {
    background-image: url("/assets/create-on2.svg");
}

.status-congested>span::after {
    background-image: url("/assets/create-off2.svg");
}

.status-transferrable>span::after {
    background-image: url("/assets/travel-on.svg");
}

.status-prohibited>span::after {
    background-image: url("/assets/travel-off.svg");
}

.worlds-container {
    display: grid;
    column-gap: var(--pico-block-spacing-horizontal);
    row-gap: var(--pico-block-spacing-vertical);
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    white-space: nowrap;
}

.worlds-container>article {
    margin: 0;

    display: flex;
    flex-direction: column;
}

.world-header,
.world-body {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    gap: 1em;
    row-gap: 0.5em;
}

.world-header {
    --pico-typography-spacing-vertical: 0;
    margin-bottom: calc(var(--pico-block-spacing-vertical) * 0.5);

    align-items: center;
    justify-content: space-between;
}

.world-header>* {
    flex-shrink: 1;
}

.world-body {
    justify-content: space-between;
    --pico-typography-spacing-vertical: 0.2rem;
}

.world-header>:last-child,
.world-body>:last-child {
    text-align: right;
}

.world-icons {
    font-size: inherit;

    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-evenly;
}

.world-icons>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

[id] {
    scroll-margin-top: calc(var(--link-offset) + 1rem);
}

li:has(.logo-container) {
    padding: 0;
}

.logo-container {
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: row wrap;
    height: 3rem;
    overflow: hidden;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
}

.logo {
    display: inline;
    height: 3rem;
    min-width: 3rem;
    border-radius: 30%;
}

.logo+* {
    display: none;
    /* display: inline; */
    margin: 0;
}

nav {
    text-align: center;
}

nav>* {
    flex-basis: 100%;
}

.region-hyperlinks {
    justify-content: center;
    white-space: nowrap;
}

.region-hyperlinks li:has(details.dropdown) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

nav>:last-child {
    justify-content: flex-end;
}

.divider:before {
    display: block;
    height: 1.125rem;
    border-left: var(--pico-border-width) solid var(--pico-form-element-border-color);
    padding-left: var(--pico-nav-link-spacing-horizontal);
    content: "";
}

.icons svg {
    height: 1.125rem;
    transform: translateY(-.125rem);
}

nav details.dropdown>summary {
    background: none !important;
    border: inherit !important;
}

nav details.dropdown>summary::after {
    transform: translateY(.0625rem);
}

@keyframes waiting {
    0% {
        stroke-dashoffset: calc(9px*2*pi);
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes reloading-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes reloading-dash {
    0% {
        stroke-dasharray: 1, 91.9;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 40.9, 91.9;
        stroke-dashoffset: -16.1;
    }

    100% {
        stroke-dasharray: 40.9, 91.9;
        stroke-dashoffset: -56;
    }
}

g.timer circle {
    stroke-linecap: round;
}

g.timer-waiting circle {
    stroke-dasharray: calc(9px*2*pi);
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(-90deg);
}

g.timer-reloading {
    animation: reloading-rotate 2s linear infinite;
    transform-origin: center center;
}

g.timer-reloading circle {
    stroke-dasharray: 75, 100;
    stroke-dashoffset: -5;
    animation: reloading-dash 1.5s ease-in-out infinite;
}

dialog article h4 {
    --pico-typography-spacing-top: 0;
}

.emoji {
    object-fit: contain;
    vertical-align: baseline;
    height: 1em;
    width: auto;
}

.shadow-container {
    --pico-card-box-shadow: 0 transparent;
    --pico-shadow-card-radius: 0.25rem;
    --pico-shadow-card-color: rgb(var(--pico-box-shadow-color));
    position: relative;
}

.shadow-container::before {
    z-index: -1;
    content: "";
    position: absolute;
    opacity: .25;
    border-radius: var(--pico-border-radius);
    inset: calc(var(--pico-shadow-card-radius) * -1);
    filter: blur(var(--pico-shadow-card-radius));
    background: var(--pico-shadow-card-color);
}

.shadow-container article {
    margin-bottom: 0;
}

[data-theme=light] {
    --pico-box-shadow-color: 129, 145, 181;
}

[data-theme=dark] {
    --pico-box-shadow-color: 7, 9, 12;
}