/* From toggles.dev; Within preset */

.theme-toggle {
    --theme-toggle__within--duration: 500ms
}

.theme-toggle__within * {
    transform-origin: center;
    transition: transform calc(var(--theme-toggle__within--duration)) cubic-bezier(0, 0, 0, 1.25)
}

html[data-theme='dark'] .theme-toggle .theme-toggle__within .theme-toggle__within__circle {
    transform: scale(1.7)
}

html[data-theme='dark'] .theme-toggle .theme-toggle__within .theme-toggle__within__inner {
    transform: translate3d(3px, -3px, 0) scale(1.4)
}

html[data-theme='dark'] .theme-toggle .theme-toggle__within g path {
    transform: scale(.65)
}

.theme-toggle {
    border: none;
    background: 0 0;
    cursor: pointer
}

@media (prefers-reduced-motion:reduce) {
    .theme-toggle:not(.theme-toggle--force-motion) * {
        transition: none !important
    }
}